<%= render partial: '/shared/header', locals: {section: "Bauteil anlegen", back: true} %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title"> Bauteil anlegen</h1>
      </div>
      <div class="panel-body">


      </div>
    </div>
  </div>
</div>